@font-face {
  font-family: "lorabold";
  src: url("assets/fonts/lora-bold-webfont.woff2") format("woff2"),
    url("assets/fonts/lora-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "loraregular";
  src: url("assets/fonts/lora-regular-webfont.woff2") format("woff2"),
    url("assets/fonts/lora-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "istok_webbold";
  src: url("assets/fonts/istokweb-bold-webfont.woff2") format("woff2"),
    url("assets/fonts/istokweb-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "istok_webregular";
  src: url("assets/fonts/istokweb-regular-webfont.woff2") format("woff2"),
    url("assets/fonts/istokweb-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fira-mono";
  src: url("assets/fonts/fira-mono-v9-latin-regular.woff2") format("woff2"),
    url("assets/fonts/fira-mono-v9-latin-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: loraregular, Georgia, Times, "Times New Roman", serif;
}

h1,
h2,
h3,
h4 {
  font-family: istok_webregular, Georgia, Times, "Times New Roman", serif;
}

h1 {
  font-size: 33px;
  border-bottom: 5px solid #b4e5bf;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 21px;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration-color: #b4e5bf;
  text-decoration-thickness: 0.12rem;
}

a:hover {
  color: #5d7562;
  cursor: pointer;
}

.wrap {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
  align-items: stretch;
}

.header {
  display: flex;
  flex-direction: row;
}

.header > .title {
  flex: 1;
}

.header > .title > h1 {
  padding-right: 1.7rem;
  display: inline-block;
}

.header > .title > h1 > a {
  text-decoration: none;
}

.header > .menu {
  align-self: center;
  display: flex;
  flex-direction: row;
}

.header > .menu > h3 {
  padding-left: 1rem;
  margin: 0;
}

.header > .menu > h3:first-child {
  padding-left: 0;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
  }
  .header > .menu {
    align-self: initial;
  }
}

h2.post-title{
  margin-bottom:0;
}

p.post-subtitle {
  font-family: 'fira-mono';
  margin: 0;
  font-size: 17px;
}

div.content {
  max-width: 770px;
}

div.post {
  padding: 0 0 .5rem 0;
}

code {
  font-family: 'fira-mono';
  background-color: #f0f0f0;
  border-radius: 0.3rem;
  line-height: 1.5;
  white-space: nowrap;
  padding: 0.2rem;
}

code.block {
  padding: 1rem;
  display: block;
}

footer > p {
  font-size: 14px;
}
