@font-face {
  font-family: "lorabold";
  src: url("assets/fonts/lora-bold-webfont.woff2") format("woff2"),
    url("assets/fonts/lora-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "loraregular";
  src: url("assets/fonts/lora-regular-webfont.woff2") format("woff2"),
    url("assets/fonts/lora-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "istok_webbold";
  src: url("assets/fonts/istokweb-bold-webfont.woff2") format("woff2"),
    url("assets/fonts/istokweb-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "istok_webregular";
  src: url("assets/fonts/istokweb-regular-webfont.woff2") format("woff2"),
    url("assets/fonts/istokweb-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: loraregular, Georgia, Times, "Times New Roman", serif;
}

h1,
h2,
h3,
h4 {
  font-family: istok_webregular, Georgia, Times, "Times New Roman", serif;
  display: inline-block;
}

h1 {
  font-size: 35px;
  border-bottom: 5px solid #b4e5bf;
}

h2 {
  font-size: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #5d7562;
  cursor: pointer;
}

.wrap {
  max-width: 1100px;
  margin: 0 auto;
  align-items: stretch;
}

.content {
  flex: 1;
}

.header {
  display: flex;
  flex-direction: row;
}

.header > .title > h1 {
  padding-right: 1.7rem;
}

.header > .menu {
  margin-left: auto;
  align-self: center;
  display: flex;
  flex-direction: row;
}

.header > .menu > h2 {
  padding-left: 1rem;
  border: none;
}

p {
  max-width: 740px;
  font-size: 20px;
  line-height: 1.7;
}

p.update {
  display: inline-block;
  border-top: 3px solid #b4e5bf;
  padding-right: 1rem;
}

footer > p {
  font-size: 15px;
}
